{% extends "layout.html" %}
{% block body %}
	<h3>About Us</h3>
    <hr>
    <h5>Orkun Efe Gökçe</h5>
    Herkese merhaba ben Orkun, Sabancı Üniversitesi Bilgisayar Bilimleri ve Mühendisliği 3. sınıf öğrencisiyim. Bu blogu yapmaktaki amaç tamamen deneme yanılma yöntemleri ile Flask Framework kullanarak python ile nasıl bir websitesi yapabilirim bunu denemek. Hakkımda bilgilere devam edecek olursak, 1. sınıftan beri IF100 kodlu Computational Approaches to Problem Solving isimli derste Learning Assistant olarak çalışmaktayım, Daha sonrasında 2. sınıf yazında ise Sabacı Üniversitesinin PURE programı kapsamında How to map Aşıkpaşazade History (An early Ottoman chronicle) isimli projede lisans araştırma asistanı olarak görev aldım. Yine aynı yaz içerisinde Sabancı Üniversitesinin Lise Yaz Okulu programında LYOFN26 kodlu Veribilimine Giriş dersinde Learning Assistant olarak görev aldım.  Aşağıdan benimle alakalı linklere ulaşabilirsiniz.
    <br><br>

     <p align="center">
    <a href="https://github.com/orkngkc" target="_blank">
    <img src=https://img.shields.io/badge/orkngkc-%23121011.svg?style=for-the-badge&logo=github&logoColor=orange alt=orkngkc style="margin-bottom: 5px;" />
    </a> &nbsp;


    <a href="https://www.linkedin.com/in/orkun-efe-g%C3%B6k%C3%A7e-445784224/" target="_blank">
    <img src=https://img.shields.io/badge/linkedin-%231E77B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white alt=linkedin style="margin-bottom: 5px;" />
    </a> &nbsp;
    </p>


    <hr>
    <h5>Melih Kaan Şahinbaş</h5>
    Merhaba ben Melih, Sabancı Üniversitesi Bilgisayar Bilimleri ve Mühendisliği programı 2. sınıf öğrencisiyim. PURE projemiz kapsamında Python kütüphaneleri kullanarak görselleştirdiğimiz verileri Flask ve Panel kütüphaneleri kullanarak bir çatı altına toplamaktır. Ben 2022-2023 Bahar döneminden itibaren IF 100 kodlu Computational Approaches to Problem Solving isimli derste Learning Assistant olarak görev yapmaktayım, bunun yanında yine aynı akademik yılın yaz döneminde LYOFN 17 kodlu Introduction to Computer Programming with Python Lise Yaz Okulu dersinde de asistanlık yaptım. Aynı dönemde de Sabancı Üniversitesi PURE programı kapsamında How to map Aşıkpaşazade History (An early Ottoman chronicle) isimli projede lisans araştırma asistanı olarak görev aldım. Aşağıdan benimle alakalı linklere ulaşabilirsiniz.
    <br><br>

    <p align="center">
    <a href="https://www.github.com/melihkn" target="_blank">
    <img src=https://img.shields.io/badge/melihkn-%23121011.svg?style=for-the-badge&logo=github&logoColor=orange alt=melihkn style="margin-bottom: 5px;" />
    </a> &nbsp;


    <a href="https://www.linkedin.com/in/melih-kaan-%C5%9Fahinba%C5%9F-a3bb31219/" target="_blank">
    <img src=https://img.shields.io/badge/linkedin-%231E77B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white alt=linkedin style="margin-bottom: 5px;" />
    </a> &nbsp;
    </p>
    <hr>
    <h5>Hamit Efe Çınar</h5>
    Merhaba ben Efe, Sabancı Üniversitesi Bilgisayar Bilimleri ve Mühendisliği programı 3. sınıf öğrencisiyim. PURE projemizde verisetlerinin oluşturulmasında ve görselleştirilip siteleştirilmesinde görev aldım. Bu projenin yanı sıra dahil olduğum ve kendim oluşturduğum projelerce Data Science alanındaki tecrübemi artırmaya çalışmaktayım. Aşağıda koyduğum linklere tıklayarak hakkımda daha çok bilgi edinebilir, tamamladığım ve uğraşmakta olduğum projelere göz atabilirsiniz.
    <br><br>

    <p align="center">
    <a href="https://github.com/odulsuzkisafilm" target="_blank">
    <img src=https://img.shields.io/badge/odulsuzkisafilm-%23121011.svg?style=for-the-badge&logo=github&logoColor=orange alt=odulsuzkisafilm. style="margin-bottom: 5px;" />
    </a> &nbsp;


    <a href="https://www.linkedin.com/in/efe-çınar-634a21223/" target="_blank">
    <img src=https://img.shields.io/badge/linkedin-%231E77B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white alt=linkedin style="margin-bottom: 5px;" />
    </a> &nbsp;
    </p>

    <hr>

{% endblock %}

{% block title %}
	About Us
{% endblock %}
