{% extends "layout.html" %}
{% block body %}
	<h3>About Us</h3>
    <hr>
    <h5>Orkun Efe Gökçe</h5>
    Herkese merhaba ben Orkun, Sabancı Üniversitesi Bilgisayar Bilimleri ve Mühendisliği 3. sınıf öğrencisiyim. Bu blogu yapmaktaki amaç tamamen deneme yanılma yöntemleri ile Flask Framework kullanarak python ile nasıl bir websitesi yapabilirim bunu denemek. Hakkımda bilgilere devam edecek olursak, 1. sınıftan beri IF100 kodlu Computational Approaches to Problem Solving isimli derste Learning Assistant olarak çalışmaktayım, Daha sonrasında 2. sınıf yazında ise Sabacı Üniversitesinin PURE programı kapsamında How to map Aşıkpaşazade History (An early Ottoman chronicle) isimli projede lisans araştırma asistanı olarak görev aldım. Yine aynı yaz içerisinde Sabancı Üniversitesinin Lise Yaz Okulu programında LYOFN26 kodlu Veribilimine Giriş dersinde Learning Assistant olarak görev aldım.
    <hr>
{% endblock %}

{% block title %}
	About Us
{% endblock %}