{% extends "layout.html" %}
{% block body %}
	<h3>About Us</h3>
    <hr>
    <h5>Orkun Efe Gökçe</h5>
    Herkese merhaba ben Orkun, Sabancı Üniversitesi Bilgisayar Bilimleri ve Mühendisliği 3. sınıf öğrencisiyim. Bu blogu yapmaktaki amaç tamamen deneme yanılma yöntemleri ile Flask Framework kullanarak python ile nasıl bir websitesi yapabilirim bunu denemek. Hakkımda bilgilere devam edecek olursak, 1. sınıftan beri IF100 kodlu Computational Approaches to Problem Solving isimli derste Learning Assistant olarak çalışmaktayım, Daha sonrasında 2. sınıf yazında ise Sabacı Üniversitesinin PURE programı kapsamında How to map Aşıkpaşazade History (An early Ottoman chronicle) isimli projede lisans araştırma asistanı olarak görev aldım. Yine aynı yaz içerisinde Sabancı Üniversitesinin Lise Yaz Okulu programında LYOFN26 kodlu Veribilimine Giriş dersinde Learning Assistant olarak görev aldım.
    <hr>
    <h5>Melih Kaan Şahinbaş</h5>
    Merhaba ben Melih, Sabancı Üniversitesi Bilgisayar Bilimleri ve Mühendisliği programı 2. sınıf öğrencisiyim. PURE projemiz kapsamında Python kütüphaneleri kullanarak görselleştirdiğimiz verileri Flask ve Panel kütüphaneleri kullanarak bir çatı altına toplamaktır. Ben 2022-2023 Bahar döneminden itibaren IF 100 kodlu Computational Approaches to Problem Solving isimli derste Learning Assistant olarak görev yapmaktayım, bunun yanında yine aynı akademik yılın yaz döneminde LYOFN 17 kodlu Introduction to Computer Programming with Python Lise Yaz Okulu dersinde de asistanlık yaptım. Aynı dönemde de Sabancı Üniversitesi PURE programı kapsamında How to map Aşıkpaşazade History (An early Ottoman chronicle) isimli projede lisans araştırma asistanı olarak görev aldım. Aşağıdan benimle alakalı linklere ulaşabilirsiniz.
    <br><br>

    <li class="nav-item active">
        <a class="nav-link" href="https://www.linkedin.com/in/melih-kaan-%C5%9Fahinba%C5%9F-a3bb31219/">Linkedin</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="https://www.github.com/melihkn">GitHub</a>
    </li>

    <hr>
{% endblock %}

{% block title %}
	About Us
{% endblock %}
