{% extends "layout.html" %}

{% block body %}
	<div class = "jumbotron text-center" >
        <h3>How to Map Aşıkpaşazade's History: A Digital Analysis of an Early Ottoman</h3>
        <p>This project has aimed to virtualize the historical data extracted from an Ottoman chronicle written by Aşıkpaşade in the 15th century. In the scope of the project, certain sections of the relevant chronicle was examined profoundly and the historical data is analyzed in the spatial and temporal contexts. In the first step of the project, the text was read closely and the available historical data  were to be discussed in the regular meetings. In the second step, the data which was extracted from the text, was classified under the specific titles. Finally, the data was visualized by using digital tools.</p>
    </div>
{% endblock %}

{% block title %}
	How to Map Aşıkpaşazade's History: A Digital Analysis of an Early Ottoman
{% endblock %}
